body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 140px;
    padding: 0 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 8px solid #a292b3;
    border-bottom: transparent; 
}

.links {
    display: flex;
}

.link {
    margin-right: 70px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}

.link:last-child {
    margin-right: 0;
}

.link-img {
    margin-right: 8px;
}

/*banner*/

.banner {
    padding: 0 140px;
}

.banner-img {
    height: 486px;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.arrow-box {
    height: 66px;
    width: 34px;
    background: #82699d;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.arrow-box:last-child {
        justify-content: flex-end;
}

.arrow-right {
    transform: rotate(180deg);
}

.arrow-right, .arrow-left {
    transition: .5s;
    cursor: pointer;
}

.arrow-left:hover {
    transform: scale(1.3);
}

.arrow-right:hover {
        transform: scale(1.3) rotate(180deg);
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
}

.text-big {
    font-size: 117px;
    line-height: 36px;
    text-shadow: -5px 6px 0 rgba(0, 0, 0, .75);
    margin-bottom: 45px;
    user-select: none;
}

.text-small {
    font-size: 31px;
    line-height: 36px;
    text-shadow: -2px 1px 0 rgba(0, 0, 0, .5);
}

/*content-top*/

.content-top {
    width: 100%;
    height: 194px;
    padding: 30px 150px 10px;
    box-sizing: border-box;
    font-size: 23px;
    line-height: 36px;
    font-style: italic;
    text-align: center;
    color: #5b5a5a;
    
}

.text-bold {
    color: #82699d;
    font-weight: bold;
}

/*content*/

.content {
    width: 100%;
    height: 356px;
    padding: 12px 140px 26px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    
}

.circule {
    padding-left: 24px;
}

.content-text {
    padding: 50px 0 0 35px;
    box-sizing: border-box;
}

.text-title {
    font-size: 31px;
    line-height: 36px;
    color:  #505051;
    margin-bottom: 22px;
    font-weight: bold;
    
}

.text {
    font-size: 15xp;
    line-height: 28px;
    color: #838383;
    padding-left: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.content-links {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: flex-end;
}

.content-link {
    text-decoration: none;
    font-size: 13px;
    line-height: 36px;
    color: #838383;
    font-style: italic;
}

.arrow-small {
    color: #838383;
    padding-left: 5px;
    
}

/*clients*/

.clients {
    width: 100%;
    height: 220px;
    padding: 28px 140px 0;
    box-sizing: border-box;

}

.clients-title {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    
}

.clients-text {
    font-size: 23px;
    line-height: 36px;
    color: #000000;
    margin-right: 6px;
}

.clients-bold {
    font-weight: bold;
}

.line {
    height: 7px;
    background: url("../img/line.png");
    flex-grow: 1;
}

table {
    width: 100%;
    height: 72px;
    background: #f5f5f5;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 60px;
}

td {
    border: 1px solid #dedede;
}

/*footer*/

.footer {
    width: 100%;
    height: 75px;
    border-bottom: 8px solid #82699d;
    border-top: 8px solid transparent;
    padding: 0 140px;
    box-sizing: border-box;
    background: #e8e8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    line-height: 0;
    font-size: 0;
}

.contacts-item {
    margin-right: 20px;
}

.copy {
    font-size: 15px;
    line-height: 36px;
    color: #454242;
    font-weight: lighter;
}

.contacts-item:last-child {
    margin: 0px;
}